body{
    padding:0;
    margin:0;
}
#container {
    width: 100vw;
    height: 100vh;
}
.siteBody{
    width: 100%;
    height: 100%;
    display: flex;
}
.noteBody{
    flex:1;
    flex-grow: 2;
    background-color:green;
}
.noteDirectory{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    max-width: none;
}
.noteDirectoryButton{
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: yellow;
}
.noteContainer{
    padding: 70px 10px 0px 30px;
}
.noteDirectoryButton:hover{
    background-color: orange;
}
.hidden{
    display: none;
}
@media screen and (min-width: 900px) {
    .noteDirectory{
        position:static;
        flex:1;
        background-color:rgb(70, 26, 153);
        max-width: 450px;
    }
}