.directoryNote{
    font-size:20px;
}
.directoryNote:hover{
    cursor: pointer;
}

.noteContent{
    background-color: purple;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.underlined{
    text-decoration: underline;
}

.noteToolBox{
    display: flex;
    flex-direction:row-reverse;
    float:right;

    position: relative;
    right: 30px;
}
.noteToolMenu{

}
.noteTool{
    width: 35px;
    height: 35px;
    background-color: yellow;
    margin:10px;
}
.noteToolDelete{
    background-color: red;
}
.hide{
    display: none;
}